html,
body {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container-fluid {
	width: 100%;
	background-color: #cccddd; // Temporary
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
	height: 100vh; // Temporary
	background-color: #ddd; // Temporary
}

.hellow-class {
  padding: 100px;
  text-align: center;
  font-size: 30px;
}

.svg {
  width: 150px;
  height: 150px;
  fill: rgb(82, 85, 223);
}
